/*	font-family: 'Lobster', cursive;
font-family: 'Titillium Web', sans-serif;
*/

/*font-family: 'Indie Flower', cursive;
font-family: 'Shadows Into Light', cursive;
*/

#contenidos{
	width: 1000px;
	height: auto;
	margin: auto;
	position: relative;
}



/*etiquetas*/
body{
background-image: url(../img/fondo3.jpg);
background-repeat: no-repeat;
background-size: cover;

}



h1{
font-family: 'Lobster', cursive;
	font-size:1.3em;
    color: black;
    padding-top: .7px;
    text-align: justify; margin: 5px 30px 0px 30px; width: 10; height: 80px
}

h2{
font-family: 'Lobster', cursive;
	font-size:1.3em;
    color: navy;
    padding-top: 0px;
    text-align: center; margin: 5px 20px 0px 20px; width: 10; height: 80px
}

h3{
font-family: 'Shadows Into Light', cursive;
color: #0000cd;
font-size: 30px;
text-align: justify; margin: 5px 20px 0px 30px; width: 10; height: 80px	
}


header {
	width: 1000px;
	height: 160px;
	background: rgb(255, 255, 255, 3,5);
	}

nav{
/*barra inicio*/
width: 1000px;
height: 60px;
background-image: url(../img/textura2.jpg);
border-radius: 10px;

}
ul{
margin:auto;
padding-top: 4px;
}
/*botones*/
li{
   float: left;
   list-style-type: none;
   padding: 10px;
   background: #fffacd;
   margin: auto;
   margin: 3px;   
   border-radius: 10px;
   box-shadow: 0 0 10px #e0ffff inset;
}

section{
	width: 900px;
	background-image: url(../img/textura.jpg);
	height: 970px;
	float: center;
	margin-top: 20px;
	border-radius: 10px;
	margin-left: auto;
    margin-right: auto;
}
/*barra del navegador*/


/*parrafo*/
p{	
font-family: 'Chewy', cursive;
font-size: 1.3em;
font-weight: bolder;
line-height: 25px;
padding: 10px;
text-align: justify;
color: blue;
text-align: justify; margin: 5px 30px 5px 30px; width: 250; height: 100px
}

footer{
width: 1000px;
height: 70px;
background-image: url(../img/textura2.jpg);
float: left;
margin-top: 20px;
border-radius: 10px; 
margin-bottom: 20px; 
}


/*clases*/
	
.ancho_menu_home{width:900px;}
.ancho_menu_paginas{width:970px;}



.menu:link{color:#0000cd; text-decoration:none;}
.menu:visited{color:#0000cd; text-decoration:none;}
.menu:hover{color:#0000cd; text-decoration:none; text-shadow: 0 0 13px #f5f5f5;}
.menu:active{color:#0000cd; text-decoration:none;}




/*seudo clases*/
li:hover{
	/*color para botones*/
	background: #4169e1;
	box-shadow: 0 0 10px #ffff00 inset;
}


