/*	font-family: 'Lobster', cursive;
font-family: 'Titillium Web', sans-serif;
*/

/*font-family: 'Indie Flower', cursive;
font-family: 'Shadows Into Light', cursive;
*/

#contenidos{
	width: 1000px;
	height: auto;
	margin: auto;
	position: relative;


}



/*etiquetas*/
body{
background-image: url(../img/fondo3.jpg);
background-repeat: no-repeat;
background-size: cover;

}



h1{
font-family: 'Lobster', cursive;
	font-size:1.3em;
    color: blue;
    padding-top: .7px;
    text-align: justify; margin: 5px 30px 0px 30px; width: 10; height: 80px
}

h2{
font-family: 'Lobster', cursive;
	font-size:1.3em;
    color: navy;
    padding-top: .5px;
    text-align: justify;
    text-align: justify; margin: 5px 30px 0px 30px; width: 10; height: 80px
}

h3{
font-family: 'Shadows Into Light', cursive;
color: #0000cd;
font-size: 30px;
text-align: center;	
}


header {
	width: 1000px;
	height: 160px;
	background: rgb(255, 255, 255, 3,5);

	}

nav{
/*barra inicio*/
width: 1000px;
height: 60px;
background-image: url(../img/textura2.jpg);
border-radius: 10px;



}
ul{
margin:auto;
padding-top: 4px;
}
/*botones*/
li{
   float: left;
   list-style-type: none;
   padding: 10px;
   background: #fffacd;
   margin: auto;
   margin: 3px;   
   border-radius: 10px;
   box-shadow: 0 0 10px #e0ffff inset;
}

section{
	width: 600px;
	background-image: url(../img/textura.jpg);
	height: auto;
	float: left;
	margin-top: 20px;
	border-radius: 10px;

}
/*barra del navegador*/
aside{
	width: 390px;
	background-image: url(../img/textura.jpg);
     height: 700px;
	float: left;
	margin-left:10px; 
	margin-top: 20px;
	border-radius: 10px;
}
/*video*/

iframe{
border-radius: 20px; 
 margin-left: 1px;
 margin-top: 1px;
 text-align: center;
 width:300px;
 height: 220px;
}

/*parrafo*/
p{	
font-family: 'Roboto', cursive;
font-size: 1.3em;
font-weight: bolder;
line-height: 25px;
padding: 10px;
color: black;
text-align: justify; margin: 2px 10px 2px 10px; width: 250; height: 100px
}

.contenedor {
	width:90%;
	margin:15px auto;

}
 
.elemento {
	width:220px;
	height: 400px;
	background:#fff;
	float:left;
	margin-right:30px;
	margin-bottom:30px;
	box-shadow:0 1px 2px 0 rgba(0,0,0,0.22);

}
 
.elemento p {
	padding:20px;
	font-size:13px;
}
 
.elemento img {
	width:100%;
}

/*clases*/
footer{
width: 1000px;
height: 70px;
background-image: url(../img/textura2.jpg);
float: left;
margin-top: 20px;
border-radius: 10px; 
margin-bottom: 20px; 

}
	
.ancho_menu_home{width:900px;}
.ancho_menu_paginas{width:970px;}



.menu:link{color:#0000cd; text-decoration:none;}
.menu:visited{color:#0000cd; text-decoration:none;}
.menu:hover{color:#0000cd; text-decoration:none; text-shadow: 0 0 13px #f5f5f5;}
.menu:active{color:#0000cd; text-decoration:none;}




/*seudo clases*/
li:hover{
	/*color para botones*/
	background: #4169e1;
	box-shadow: 0 0 10px #ffff00 inset;
}


